{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}

<br>
<br>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<div class="container-fluid">

  <div class="row">
    <div class="col-4">
      <button type="button" name="button">Leave Neighbourhood</button>
      <h4>Police and Healthcare</h4>
    </div>

    <div class="col-6">
      <p>{{hood.hood_name}} </p>
      {% if businesses %}
      {% for biz in businesses %}
      45454

      {{biz.b_name}}
      {% endfor %}

      {% else %}
      <p>No Biz</p>
      {% endif %}
      <div class="card mr-0" style="max-width:30rem; margin-top:5px;">

        <img src="{{hood_photo.url}}" class="card-img-top">
        <div class="card-body">
        {{businesses.b_name}}
          <div class="media">
            <div class="media-left media-top">

            <p>{{hood.occupants_count}}</p>

            </div>

          </div>
        </div>

      </div>


    </div>

    <div class="col-2">
      <h4>List of Neighbours</h4>

    </div>

  </div>

</div>
{% endblock %}
